.container-base{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    background-color: blue;
    
}

.chart-container{
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 4;
    background-color: red;
}